# MovieLens Dataset example
https://grouplens.org/datasets/movielens/

In [ ]:
%load_ext autoreload
%autoreload 2
%matplotlib inline

In [ ]:
import sys
sys.path.append("/home/panderson/rankability_toolbox")

In [5]:
import pandas as pd
import numpy as np
import dill

In [290]:
import pyrankability

In [30]:
DATA_DIR='ml-latest-small'

## Read and preprocess the data

In [14]:
links = pd.read_csv("%s/links.csv"%DATA_DIR)
display(links.head())
links["tmdbId"] = links["tmdbId"].fillna(-1).astype(int)
display(links.head())
display(links.dtypes)

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

   movieId  imdbId  tmdbId
0        1  114709     862
1        2  113497    8844
2        3  113228   15602
3        4  114885   31357
4        5  113041   11862

movieId    int64
imdbId     int64
tmdbId     int64
dtype: object

In [209]:
movies = pd.read_csv("%s/movies.csv"%DATA_DIR)
display(movies.head())
movies["genres"] = movies["genres"].str.split("|")
display(movies.head())

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

,movieId,title,genres
0,1,Toy Story (1995),"[Adventure, Animation, Children, Comedy, Fantasy]"
1,2,Jumanji (1995),"[Adventure, Children, Fantasy]"
2,3,Grumpier Old Men (1995),"[Comedy, Romance]"
3,4,Waiting to Exhale (1995),"[Comedy, Drama, Romance]"
4,5,Father of the Bride Part II (1995),[Comedy]

In [210]:
from sklearn.preprocessing import MultiLabelBinarizer
mlb = MultiLabelBinarizer()

movies = movies.join(pd.DataFrame(mlb.fit_transform(movies['genres']),
                          columns=mlb.classes_,
                          index=movies.index))

In [211]:
movies

,movieId,title,genres,(no genres listed),Action,Adventure,Animation,Children,Comedy,Crime,...,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),"[Adventure, Animation, Children, Comedy, Fantasy]",0,0,1,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
1,2,Jumanji (1995),"[Adventure, Children, Fantasy]",0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,Grumpier Old Men (1995),"[Comedy, Romance]",0,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
3,4,Waiting to Exhale (1995),"[Comedy, Drama, Romance]",0,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
4,5,Father of the Bride Part II (1995),[Comedy],0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
5,6,Heat (1995),"[Action, Crime, Thriller]",0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
6,7,Sabrina (1995),"[Comedy, Romance]",0,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
7,8,Tom and Huck (1995),"[Adventure, Children]",0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
8,9,Sudden Death (1995),[Action],0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,10,GoldenEye (1995),"[Action, Adventure, Thriller]",0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
10,11,"American President, The (1995)","[Comedy, Drama, Romance]",0,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
11,12,Dracula: Dead and Loving It (1995),"[Comedy, Horror]",0,0,0,0,0,1,0,...,0,1,0,0,0,0,0,0,0,0
12,13,Balto (1995),"[Adventure, Animation, Children]",0,0,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
13,14,Nixon (1995),[Drama],0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,15,Cutthroat Island (1995),"[Action, Adventure, Romance]",0,1,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
15,16,Casino (1995),"[Crime, Drama]",0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
16,17,Sense and Sensibility (1995),"[Drama, Romance]",0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
17,18,Four Rooms (1995),[Comedy],0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
18,19,Ace Ventura: When Nature Calls (1995),[Comedy],0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
19,20,Money Train (1995),"[Action, Comedy, Crime, Drama, Thriller]",0,1,0,0,0,1,1,...,0,0,0,0,0,0,0,1,0,0
20,21,Get Shorty (1995),"[Comedy, Crime, Thriller]",0,0,0,0,0,1,1,...,0,0,0,0,0,0,0,1,0,0
21,22,Copycat (1995),"[Crime, Drama, Horror, Mystery, Thriller]",0,0,0,0,0,0,1,...,0,1,0,0,1,0,0,1,0,0
22,23,Assassins (1995),"[Action, Crime, Thriller]",0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
23,24,Powder (1995),"[Drama, Sci-Fi]",0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
24,25,Leaving Las Vegas (1995),"[Drama, Romance]",0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
25,26,Othello (1995),[Drama],0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,27,Now and Then (1995),"[Children, Drama]",0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
27,28,Persuasion (1995),"[Drama, Romance]",0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
28,29,"City of Lost Children, The (Cité des enfants p...","[Adventure, Drama, Fantasy, Mystery, Sci-Fi]",0,0,1,0,0,0,0,...,0,0,0,0,1,0,1,0,0,0
29,30,Shanghai Triad (Yao a yao yao dao waipo qiao) ...,"[Crime, Drama]",0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9712,188189,Sorry to Bother You (2018),"[Comedy, Fantasy, Sci-Fi]",0,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
9713,188301,Ant-Man and the Wasp (2018),"[Action, Adventure, Comedy, Fantasy, Sci-Fi]",0,1,1,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
9714,188675,Dogman (2018),"[Crime, Drama]",0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
9715,188751,Mamma Mia: Here We Go Again! (2018),"[Comedy, Romance]",0,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
9716,188797,Tag (2018),[Comedy],0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
9717,188833,The Man Who Killed Don Quixote (2018),"[Adventure, Comedy, Fantasy]",0,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
9718,189043,Boundaries (2018),"[Comedy, Drama]",0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
9719,189111,Spiral (2018),[Documentary],0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9720,189333,Mission: Impossible - Fallout (2018),"[Action, Adventure, Thriller]",0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
9721,189381,SuperFly (2018),"[Action, Crime, Thriller]",0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
9722,189547,Iron Soldier (2010),"[Action, Sci-Fi]",0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
9723,189713,BlacKkKlansman (2018),"[Comedy, Crime, Drama]",0,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
9724,190183,The Darkest Minds (2018),"[Sci-Fi, Thriller]",0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,0
9725,190207,Tilt (2011),"[Drama, Romance]",0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
9726,190209,Jeff Ross Roasts the Border (2017),[Comedy],0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
9727,190213,John From (2015),[Drama],0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9728,190215,Liquid Truth (2017),[Drama],0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9729,190219,Bunny (1998),[Animation],0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9730,190221,Hommage à Zgougou (et salut à Sabine Mamou) (2...,[Documentary],0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9731,191005,Gintama (2017),"[Action, Adventure, Comedy, Sci-Fi]",0,1,1,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
9732,193565,Gintama: The Movie (2010),"[Action, Animation, Comedy, Sci-Fi]",0,1,0,1,0,1,0,...,0,0,0,0,0,0,1,0,0,0
9733,193567,anohana: The Flower We Saw That Day - The Movi...,"[Animation, Drama]",0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9734,193571,Silver Spoon (2014),"[Comedy, Drama]",0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
9735,193573,Love Live! The School Idol Movie (2015),[Animation],0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9736,193579,Jon Stewart Has Left the Building (2015),[Documentary],0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9737,193581,Black Butler: Book of the Atlantic (2017),"[Action, Animation, Comedy, Fantasy]",0,1,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
9738,193583,No Game No Life: Zero (2017),"[Animation, Comedy, Fantasy]",0,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
9739,193585,Flint (2017),[Drama],0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9740,193587,Bungo Stray Dogs: Dead Apple (2018),"[Action, Animation]",0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9741,193609,Andrew Dice Clay: Dice Rules (1991),[Comedy],0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [24]:
ratings = pd.read_csv("%s/ratings.csv"%DATA_DIR)
display(ratings.head())

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

## Exploratory

**Number of unique movies along with their counts**

In [29]:
ratings.set_index("movieId").join(movies.set_index("movieId"))["title"].value_counts()

Forrest Gump (1994)                                                               329
Shawshank Redemption, The (1994)                                                  317
Pulp Fiction (1994)                                                               307
Silence of the Lambs, The (1991)                                                  279
Matrix, The (1999)                                                                278
Star Wars: Episode IV - A New Hope (1977)                                         251
Jurassic Park (1993)                                                              238
Braveheart (1995)                                                                 237
Terminator 2: Judgment Day (1991)                                                 224
Schindler's List (1993)                                                           220
Fight Club (1999)                                                                 218
Toy Story (1995)                                                                  215
Star Wars: Episode V - The Empire Strikes Back (1980)                             211
Usual Suspects, The (1995)                                                        204
American Beauty (1999)                                                            204
Seven (a.k.a. Se7en) (1995)                                                       203
Independence Day (a.k.a. ID4) (1996)                                              202
Apollo 13 (1995)                                                                  201
Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981)    200
Lord of the Rings: The Fellowship of the Ring, The (2001)                         198
Star Wars: Episode VI - Return of the Jedi (1983)                                 196
Godfather, The (1972)                                                             192
Fugitive, The (1993)                                                              190
Batman (1989)                                                                     189
Lord of the Rings: The Two Towers, The (2002)                                     188
Saving Private Ryan (1998)                                                        188
Lord of the Rings: The Return of the King, The (2003)                             185
Aladdin (1992)                                                                    183
Fargo (1996)                                                                      181
Sixth Sense, The (1999)                                                           179
                                                                                 ...
Grandmaster, The (Yi dai zong shi) (2013)                                           1
Somewhere (2010)                                                                    1
Paradise (1982)                                                                     1
Child, The (L'enfant) (2005)                                                        1
Embassy (2013)                                                                      1
Daddy, I'm A Zombie (2012)                                                          1
Bo Burnham: Make Happy (2016)                                                       1
Davy Crockett, King of the Wild Frontier (1955)                                     1
Cargo (2009)                                                                        1
Steam: The Turkish Bath (Hamam) (1997)                                              1
September (1987)                                                                    1
Meantime (1984)                                                                     1
Tremors 4: The Legend Begins (2004)                                                 1
Patlabor 2: The Movie (1993)                                                        1
'night Mother (1986)                                                                1
Monkey Trouble (1994)                                                               1
Human Stain, The (2003)                                                             1
Lee Daniels' The Butler (2013)                                                      1
Why Stop Now (2012)                                                                 1
Electra Glide in Blue (1973)                                                        1
MacGyver: Lost Treasure of Atlantis (1994)                                          1
And So It Goes (2014)                                                               1
Love and Other Catastrophes (1996)                                                  1
Sympathy for the Underdog (1971)                                                    1
Marauders (2016)                                                                    1
This Must Be the Place (2011)                                                       1
Applesauce (2015)                                                                   1
Little Vampire, The (2000)                                                          1
Cassandra's Dream (2007)                                                            1
Nine Lives of Tomas Katz, The (2000)                                                1
Name: title, Length: 9719, dtype: int64

**What if we say 50 people in total had to rank a movie to even start considering it?**

In [31]:
counts = ratings.set_index("movieId").join(movies.set_index("movieId"))["title"].value_counts()
counts[counts > 50]

Forrest Gump (1994)                                                               329
Shawshank Redemption, The (1994)                                                  317
Pulp Fiction (1994)                                                               307
Silence of the Lambs, The (1991)                                                  279
Matrix, The (1999)                                                                278
Star Wars: Episode IV - A New Hope (1977)                                         251
Jurassic Park (1993)                                                              238
Braveheart (1995)                                                                 237
Terminator 2: Judgment Day (1991)                                                 224
Schindler's List (1993)                                                           220
Fight Club (1999)                                                                 218
Toy Story (1995)                                                                  215
Star Wars: Episode V - The Empire Strikes Back (1980)                             211
Usual Suspects, The (1995)                                                        204
American Beauty (1999)                                                            204
Seven (a.k.a. Se7en) (1995)                                                       203
Independence Day (a.k.a. ID4) (1996)                                              202
Apollo 13 (1995)                                                                  201
Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981)    200
Lord of the Rings: The Fellowship of the Ring, The (2001)                         198
Star Wars: Episode VI - Return of the Jedi (1983)                                 196
Godfather, The (1972)                                                             192
Fugitive, The (1993)                                                              190
Batman (1989)                                                                     189
Lord of the Rings: The Two Towers, The (2002)                                     188
Saving Private Ryan (1998)                                                        188
Lord of the Rings: The Return of the King, The (2003)                             185
Aladdin (1992)                                                                    183
Fargo (1996)                                                                      181
Sixth Sense, The (1999)                                                           179
                                                                                 ...
Jungle Book, The (1967)                                                            53
Fantasia (1940)                                                                    53
Last Action Hero (1993)                                                            53
Goldfinger (1964)                                                                  53
Zombieland (2009)                                                                  53
Eyes Wide Shut (1999)                                                              53
How to Train Your Dragon (2010)                                                    53
Arachnophobia (1990)                                                               53
Blood Diamond (2006)                                                               53
Wild Wild West (1999)                                                              53
Exorcist, The (1973)                                                               53
Grumpier Old Men (1995)                                                            52
Magnolia (1999)                                                                    52
War of the Worlds (2005)                                                           52
Grand Budapest Hotel, The (2014)                                                   52
X-Men: The Last Stand (2006)                                                       52
Chasing Amy (1997)                                                                 52
Donnie Brasco (1997)                                                               52
Knocked Up (2007)                                                                  52
Caddyshack (1980)                                                                  52
Disclosure (1994)                                                                  52
Mystic River (2003)                                                                52
Million Dollar Baby (2004)                                                         52
Training Day (2001)                                                                51
Bad Boys (1995)                                                                    51
Splash (1984)                                                                      51
Army of Darkness (1993)                                                            51
The Devil's Advocate (1997)                                                        51
Blow (2001)                                                                        51
Mulholland Drive (2001)                                                            51
Name: title, Length: 437, dtype: int64

**This gets us to 437 movies, so that's a decent D matrix I think.**

For a start, let's fill in values in D by finding users who ranked two movies and then storing the difference in rating.

In [74]:
ratings.columns

Index(['userId', 'movieId', 'rating', 'timestamp'], dtype='object')

In [ ]:
from itertools import combinations
flatten = lambda l: [item for sublist in l for item in sublist]
df1 = ratings.groupby("userId").apply(lambda df: 
                                     pd.DataFrame([flatten(tup) for tup in list(combinations(df.values,2))],columns=[v+"_i"for v in df.columns]+[v+"_j"for v in df.columns],dtype=int).
                                     set_index(["movieId_i","movieId_j"]))

df2 = df1.apply(lambda x: x["rating_i"]-x["rating_j"],axis=1).unstack()
display(df2)
#fix negatives when square
#inxs = np.where(df2 < 0)
#print("Fix negative numbers",len(inxs[0]))
#df2.values[inxs[1],inxs[0]] = -df2.values[inxs[0],inxs[1]]
#df2.values[inxs[0],inxs[1]] = 0
#display(df2.groupby().apply(lambda x: x.unstack()))
#inxs = np.where(df2 < 0)
#print("After fix negative numbers",len(inxs[0]))

In [ ]:
means = df2.stack().groupby(["movieId_i","movieId_j"]).mean()

In [ ]:
counts = df2.stack().groupby(["movieId_i","movieId_j"]).count()

**A quick glance at our counts and means**

In [189]:
display(counts.head())

movieId_i  movieId_j
1          2            68
           3            32
           4             2
           5            32
           6            58
dtype: int64

In [191]:
display(counts.head())

movieId_i  movieId_j
1          2            68
           3            32
           4             2
           5            32
           6            58
dtype: int64

## Sparse format to D
We now have a parse format, but we need to turn this into a D matrix. Let's only use a movie if there exists a paired count greater than 10.

In [197]:
count_mask = counts > 10
print(len(np.unique(list(counts[count_mask].unstack().index) + list(counts[count_mask].unstack().columns))))

2021

This means we would have a D matrix that is size 2021 by 2021. A little larger than our target of 500 x 500. But this is still small enough that we can construct the total matrix.

In [246]:
D_counts = counts[count_mask].unstack()
D_means = means[count_mask].unstack()

In [247]:
D_counts.stack()

movieId_i  movieId_j
1          2             68.0
           3             32.0
           5             32.0
           6             58.0
           7             32.0
           9             12.0
           10            69.0
           11            42.0
           12            15.0
           14            12.0
           16            41.0
           17            44.0
           18            12.0
           19            55.0
           21            47.0
           22            22.0
           23            11.0
           24            18.0
           25            42.0
           29            19.0
           31            17.0
           32           104.0
           34            84.0
           36            37.0
           39            59.0
           44            28.0
           45            17.0
           47            99.0
           48            42.0
           50            96.0
                        ...
134130     152077        13.0
134853     138036        12.0
           139385        14.0
           142488        11.0
           148626        15.0
           152081        21.0
           164179        12.0
           166528        12.0
           168252        11.0
135143     166528        11.0
135569     166528        11.0
136864     139385        11.0
139385     142488        11.0
           148626        14.0
           152081        11.0
           164179        14.0
           166528        12.0
           168252        13.0
142488     148626        12.0
143355     166528        11.0
148626     164179        13.0
           168252        11.0
           158238        12.0
152081     166528        13.0
           168252        13.0
164179     166528        15.0
           168252        14.0
           176371        11.0
166528     168252        16.0
           176371        11.0
Length: 367893, dtype: float64

We need to label the data so we can search for specific genres

In [248]:
D_counts_labelled = D_counts.join(movies.set_index("movieId")).transpose().join(movies.set_index("movieId"))
D_means_labelled = D_means.join(movies.set_index("movieId")).transpose().join(movies.set_index("movieId"))

**Break the data into genres**

In [249]:
D_counts_labelled

,1,2,3,5,6,7,9,10,11,12,...,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
2,68,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,32,26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
5,32,22,19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,58,36,25,24,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
7,32,18,19,23,22,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
9,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,69,56,23,20,49,22,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
11,42,29,13,16,26,24,NaN,36,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
12,15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,12,NaN,NaN,NaN,14,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,41,28,20,13,43,12,NaN,31,20,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,44,22,13,19,23,25,NaN,24,26,NaN,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
18,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,55,51,26,21,28,18,NaN,44,22,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21,47,33,24,17,43,22,NaN,47,36,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
22,22,17,11,NaN,22,NaN,NaN,22,15,NaN,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
23,11,NaN,NaN,NaN,11,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
24,18,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
25,42,19,16,20,40,22,NaN,28,24,NaN,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
29,19,12,NaN,NaN,15,NaN,NaN,12,NaN,NaN,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
31,17,16,NaN,12,17,12,NaN,19,13,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
32,104,59,30,30,71,32,12,66,36,12,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0
34,84,56,17,22,35,19,NaN,57,37,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
36,37,20,19,18,34,22,NaN,24,21,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
39,59,43,20,19,38,22,NaN,46,38,NaN,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
44,28,23,11,NaN,22,NaN,NaN,35,13,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
45,17,NaN,NaN,NaN,18,NaN,NaN,17,15,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
47,99,67,31,23,67,26,NaN,81,38,11,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
48,42,37,14,14,NaN,NaN,NaN,28,13,NaN,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
50,96,53,26,18,70,26,NaN,64,41,NaN,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48082,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
107348,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
64716,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
122906,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
98243,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
70293,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
72737,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
111113,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
title,Toy Story (1995),Jumanji (1995),Grumpier Old Men (1995),Father of the Bride Part II (1995),Heat (1995),Sabrina (1995),Sudden Death (1995),GoldenEye (1995),"American President, The (1995)",Dracula: Dead and Loving It (1995),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
genres,"[Adventure, Animation, Children, Comedy, Fantasy]","[Adventure, Children, Fantasy]","[Comedy, Romance]",[Comedy],"[Action, Crime, Thriller]","[Comedy, Romance]",[Action],"[Action, Adventure, Thriller]","[Comedy, Drama, Romance]","[Comedy, Horror]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
(no genres listed),0,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Action,0,0,0,0,1,0,1,1,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Adventure,1,1,0,0,0,0,0,1,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Animation,1,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Children,1,1,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Comedy,1,0,1,1,0,1,0,0,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Crime,0,0,0,0,1,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Documentary,0,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Drama,0,0,0,0,0,0,0,0,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Fantasy,1,1,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Film-Noir,0,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Horror,0,0,0,0,0,0,0,0,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
IMAX,0,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Musical,0,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Mystery,0,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Romance,0,0,1,0,0,1,0,0,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sci-Fi,0,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Thriller,0,0,0,0,1,0,0,1,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
War,0,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Western,0,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [340]:
genres = ["Comedy","Romance"]
genre = genres[1]

In [341]:
from scipy.sparse import csr_matrix

i_mask = D_counts_labelled.loc[genre] == 1
j_mask = D_counts_labelled.loc[:,genre] == 1
D_means_genre = D_means.loc[i_mask,j_mask]
D_counts_genre = D_counts.loc[i_mask,j_mask]
inxs = np.where(~D_means_genre.isna())
n = max([max(inxs[0]),max(inxs[1])])+1
row = np.ix_(inxs[0],inxs[1])[0].reshape(1,-1)[0]
col = np.ix_(inxs[0],inxs[1])[1].reshape(1,-1)[0]
D = csr_matrix((D_means_genre.values[inxs].flatten(), (row,col)), shape=(n, n)).todense()
# Now fix negative numbers
inxs = np.where(D < 0)
print("Fix negative numbers",len(inxs[0]))
D[inxs[1],inxs[0]] = -D[inxs[0],inxs[1]]
D[inxs[0],inxs[1]] = 0
print("Just a subset of the matrix")
display(D[:10,:10])
inxs = np.where(D < 0)
print("After fix negative numbers",len(inxs[0]))
print("Summary of number of nonzero")
print(D.shape,(D>0).sum())

Fix negative numbers 5838
Just a subset of the matrix

matrix([[0.        , 0.21052632, 0.        , 0.        , 0.        ,
         0.        , 0.28571429, 0.        , 0.        , 0.        ],
        [0.        , 0.        , 0.        , 0.        , 0.        ,
         0.        , 0.        , 0.        , 0.        , 0.        ],
        [0.15384615, 0.54166667, 0.        , 0.        , 0.08333333,
         0.36842105, 0.30769231, 0.07692308, 0.        , 0.        ],
        [0.23076923, 0.56      , 0.30769231, 0.        , 0.        ,
         0.        , 0.        , 0.        , 0.        , 0.        ],
        [0.25      , 0.45454545, 0.        , 0.        , 0.44827586,
         0.44444444, 0.5       , 0.38461538, 0.15384615, 0.        ],
        [0.25      , 0.45454545, 0.        , 0.        , 0.        ,
         0.17241379, 0.        , 0.47058824, 0.0625    , 0.        ],
        [0.        , 0.        , 0.        , 0.        , 0.        ,
         0.        , 0.37037037, 0.        , 0.        , 0.        ],
        [0.        , 0.6       , 0.        , 0.        , 0.        ,
         0.        , 0.07142857, 0.        , 0.        , 0.        ],
        [0.        , 0.        , 0.        , 0.        , 0.        ,
         0.        , 0.        , 0.        , 0.        , 0.18181818],
        [0.        , 0.        , 0.        , 0.        , 0.        ,
         0.        , 0.63636364, 0.        , 0.        , 0.        ]])

After fix negative numbers 0
Summary of number of nonzero
(372, 372) 11122

In [ ]:
k,details = pyrankability.hillside.count_lp(D)
print(k,details["P"])

In [ ]:
print(k,details["P"])

In [334]:
pyrankability.hillside.objective_count_exhaustive(D[:8,:8])

(53,
 {'P': [(6, 2, 1, 4, 5, 7, 3, 0),
   (6, 2, 1, 4, 7, 3, 5, 0),
   (6, 2, 1, 4, 7, 5, 3, 0),
   (6, 2, 1, 5, 4, 7, 3, 0)]})

In [ ]:
1e20

In [ ]:
print('test')